doctype 5
html(lang='en')
  head
    title Roomverse
    script(src='/js/lib/underscore-min.js')
    script(src='/js/lib/backbone-min.js')
    script(src='/js/lib/jquery-2.0.3.min.js')
    script(src='/js/lib/underscore-min.js')
    script(src='/socket.io/socket.io.js')
    script.
      var config = { userid: "#{userid}", rooms: "#{rooms}" };
    script(src='/js/wb.js')
    link(rel='stylesheet', href='/assets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700')
  body
    .col1
      h1 Roomverse 
        em Alpha
      ol#wb-room-list
      div#user
        div.name= userid
        div.meta
     
    .col2
      #wb-chats.wait
    
    #wb-widgets.col3
      aside.widget
        h1 Global Infobox
        p= 'User ' + userid + ' in ' + rooms