doctype 5
html(lang='en')
  head
    title Roomverse
    script(src='/js/lib/underscore-min.js')
    script(src='/js/lib/backbone-min.js')
    script(src='/js/lib/jquery-2.0.3.min.js')
    script(src='/js/lib/underscore-min.js')
    script(src='/socket.io/socket.io.js')
    script.
      var config = { userid: "#{userid}", rooms: "#{rooms}" };
    script(src='/js/roomverse.js')
    link(rel='stylesheet', href='/assets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700')
  body
    .col1
      h1 Roomverse 
        em Alpha
      ol#rv-room-list
      div#user
        div.name= userid
        div.meta
     
    .col2
      #rv-chats.wait
    
    #rv-widgets.col3
      aside.widget
        h1 Alpha Release
        p.
          This version is an alpha release, it's missing critical features. 
          Please refer to GitHub for the current status.
        // p= 'User ' + userid + ' in ' + rooms