doctype 5
html(lang='en')
  head
    title WordBridge
    script(src='/js/lib/underscore-min.js')
    script(src='/js/lib/backbone-min.js')
    script(src='/js/lib/jquery-2.0.3.min.js')
    script(src='/js/lib/underscore-min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/wb.js')
    link(rel='stylesheet', href='/assets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700')
  body
    #masterbar
      h1 WordBridge
        span(style="color: #d0d0d0") pre-alpha
        span= '' + nickname + '#' + channels
    
    #wb-channels.col1
     
    .col2
      #wb-chat.wait
      .chat-messagebox
        input#wb-messagebox(type='text')
    
    #wb-widgets.col3