doctype 5
html(lang="en")
  head
    title WordBridge
  body
    h1 Login
    form(action='/c', method='post')
      label(for='userid') Nickname
      input(id='userid', name='userid', value=userid)
      
      label(for='password') Password (if any)
      input(id='password', name='password', type="password")
      
      label(for='rooms') Channels
      input(id='rooms', name='rooms', value=rooms)
      
      input(type='submit', value="Login")