doctype 5
html(lang="en")
  head
    title Roomverse &middot; Login
    link(rel='stylesheet', href='/assets/style-pages.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700')
    script(src='/js/lib/jquery-2.0.3.min.js')
    script(src='/js/login.js')
  body
    div.wrapper
      img#logo(src='/assets/icon@2x.png', width='60px', width='60px')
      
      div.widget.login
        h1 Login
        form(action='/c', method='post')
          label(for='userid') Nickname
          input(id='userid', name='userid', value=userid)
          
          if requirePassword
            label(for='password') Password
            input(id='password', name='password', type="password")
          
          label(for='rooms') Channels
          textarea(id='rooms', name='rooms', value=rooms)= rooms
          
          input(type='submit', value="Login")