doctype 5
html(lang="en")
  head
    title WordBridge
  body
    h1 Login
    form(action='/c', method='post')
      label(for='nickname') Nickname
      input(id='nickname', name='nickname', value=nickname)
      
      label(for='password') Password (if any)
      input(id='password', name='password', type="password")
      
      label(for='channels') Channel
      input(id='channels', name='channels', value=channels)
      
      input(type='submit', value="Login")